<div class="pt-24 sm:pt-32 py-16 sm:py-24 lg:py-32 flex flex-wrap lg:flex-nowrap justify-center px-4 sm:px-6 lg:px-8">
    <!-- Contenedor de contenido -->
    <div class="flex flex-col items-center lg:items-start max-w-4xl w-full text-center sm:text-left">
        <h1 class="text-lg sm:text-xl font-semibold text-white fade-in">
            MIGUEL FIGUEROLA ALONSO
        </h1>
        <p class="mt-6 sm:mt-4 text-3xl sm:text-4xl md:text-5xl font-semibold tracking-tight text-white fade-in">
            DESARROLLADOR DE APPS MULTIPLATAFORMAS
        </p>
        <p class="mt-6 text-base sm:text-lg text-white fade-in">
            Soy un profesional adaptable y comprometido, con habilidades en comunicación, trabajo en equipo y resolución de problemas. Me destaco en la gestión del tiempo, atención al detalle y pensamiento crítico, aportando creatividad e innovación en cada proyecto.
        </p>
    </div>

    <!-- Imagen a la derecha (más pequeña) -->
    <img src="assets/img/perfil.jpg" alt="foto-perfil" class="w-48 h-48 sm:w-56 sm:h-56 lg:w-64 lg:h-64 rounded-full object-cover ml-0 lg:ml-8 mt-8 lg:mt-0 fade-in transform transition duration-300 ease-in-out hover:scale-110 hover:shadow-xl">
</div>

<!-- Línea con sombreado -->
<div class="w-3/4 h-0.5 bg-gray-300/20 shadow-sm -mt-5 mb-2 mx-auto fade-in"></div>
