<div class="pt-8 sm:pt-12 py-8 flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center lg:items-start max-w-fit w-full text-center sm:text-left fade-in">
        <p class="mt-2 mb-2 text-2xl sm:text-3xl md:text-4xl font-semibold tracking-tight text-white fade-in">
            Habilidades
        </p>
        <!-- Contenedor flexible con diseño responsive -->
        <div class="mt-6 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8 items-center w-full">
            <!-- Imagen 1 -->
            <div class="bg-orange-500 rounded-lg shadow-lg flex justify-center items-center p-4 transform transition duration-300 ease-in-out hover:scale-110 hover:shadow-xl">
                <img class="h-24 w-auto object-contain" 
                     src="assets/img/java.png" 
                     alt="Java">
            </div>
            <!-- Imagen 2 -->
            <div class="bg-orange-500 rounded-lg shadow-lg flex justify-center items-center p-4 transform transition duration-300 ease-in-out hover:scale-110 hover:shadow-xl">
                <img class="h-24 w-auto object-contain" 
                     src="assets/img/csharp.png" 
                     alt="C#">
            </div>
            <!-- Imagen 3 -->
            <div class="bg-orange-500 rounded-lg shadow-lg flex justify-center items-center p-4 transform transition duration-300 ease-in-out hover:scale-110 hover:shadow-xl">
                <img class="h-24 w-1/2 object-contain" 
                     src="assets/img/python.png" 
                     alt="Python">
            </div>
            <!-- Imagen 4 -->
            <div class="bg-orange-500 rounded-lg shadow-lg flex justify-center items-center p-4 transform transition duration-300 ease-in-out hover:scale-110 hover:shadow-xl">
                <img class="h-24 w-1/2 object-contain" 
                     src="assets/img/javascript.png" 
                     alt="Javascript">
            </div>
            <!-- Imagen 5 -->
            <div class="bg-orange-500 rounded-lg shadow-lg flex justify-center items-center p-4 transform transition duration-300 ease-in-out hover:scale-110 hover:shadow-xl">
                <img class="h-24 w-1/2 object-contain" 
                     src="assets/img/angular.png" 
                     alt="Angular">
            </div>
            <!-- Imagen 6 -->
            <div class="bg-orange-500 rounded-lg shadow-lg flex justify-center items-center p-4 transform transition duration-300 ease-in-out hover:scale-110 hover:shadow-xl">
                <img class="h-24 w-32 object-contain" 
                     src="assets/img/mysql.png" 
                     alt="MySQL">
            </div>
        </div>
    </div>
</div>

<!-- Línea con sombreado -->
<div class="w-3/4 h-0.5 bg-gray-300/20 shadow-sm mt-12 -mb-5 mx-auto fade-in"></div>
